<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="user_profile_image">
      <%= attachment_image_tag @post.user, :profile_image, size: "150x150", fallback: "default_profile.jpg" %><br>
      </div>
        <%= link_to @post.user.last_name + @post.user.first_name, user_path(@post.user) %><br>
        <p><%= @post.genre.name %></p><br>
        <%= attachment_image_tag @post, :image, size: "300x300" %><br>
        <%= @post.body %><br>
        <%= @post.created_at.strftime('%Y年%-m月%-d日') %><br>


        <div id="favorite_area_<%= @post.id %>">
          <div class="favorite-btn">
            <%= render 'public/favorites/favorite-btn', post: @post %><br>
          </div>
        </div>

        <br>
        <% if @post.user == current_user %>
          <%= link_to "", post_path(@post), class: 'text-danger fas fa-trash-alt', method: :delete, data: { confirm: '本当に削除しますか？' } %>
          <%= link_to "投稿削除", post_path(@post), class: 'text-secondary', method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
    </div>
    <div class="col-md-7">
      <div id="comments_area">
        <%= render 'public/post_comments/comment', post: @post %>
      </div>

      <div id="comments_count">
        <%= @post.post_comments.count %>件のコメント<br><br>
      </div>

      <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>



