<h5 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.full_name %> さんとのチャット</h5>

<div class="message" style="width: 90%;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p class="user_profile_image" style="text-align: right;">
        <%= chat.message %>
        <%= attachment_image_tag chat.user, :profile_image, size: "30x30", fallback: "default_profile.jpg" %>
      </p>
    <% else %>
      <p class="user_profile_image" style="text-align: left;"><%= attachment_image_tag chat.user, :profile_image, size: "30x30", fallback: "default_profile.jpg" %><%= chat.message %></p>
    <% end %>
  <% end %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>