<h5 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.full_name %></h5>

<div class="message">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p class="chat_right">
        <%= chat.message %>
        <%#= attachment_image_tag chat.user, :profile_image, size: "30x30", fallback: "default_profile.jpg" %>
      </p>
    <% else %>
      <div class="chat_partner">
        <p class="user_profile_image"><%= attachment_image_tag chat.user, :profile_image, size: "30x30", fallback: "default_profile.jpg" %></p>
        <p class="chat_left"><%= chat.message %></p>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>