  <div class="admin_user">

    ユーザーID:<%= @user.id %>
    <div class="user_profile_image">
      <%= attachment_image_tag @user, :profile_image, size: "150x150", fallback: "default_profile.jpg" %>
    </div>
    名前:<%= @user.last_name %><%= @user.first_name %><br><br>
    メールアドレス:<%= @user.email %><br><br>
    自己紹介文:<%= @user.introduction %><br><br>
    会員ステータス:
    <% if @user.is_deleted == true %>
      退会
    <% elsif @user.is_deleted == false %>
      有効
    <% end %><br><br>

    <%= link_to "編集", edit_admin_user_path(@user), class: 'btn btn-sm btn-warning' %>
  </div><br>

  <div class="post_list">
    <h5>投稿一覧</h5>
    <p>※[ ]内の数値は-0.5以下はネガティブな表現が含まれている可能性があります</p>
    <% if @posts.exists? %>
      <% @posts.each do |post| %>
        <div class="row">
          <div class="col-md-2">
            <div class="user_profile_image">
              <%= link_to post_path(post) do %>
                <%= attachment_image_tag post.user, :profile_image, size: "50x50", fallback: "default_profile.jpg" %>
              <% end %>
            </div>
            <div>
              <p><%= link_to post.user.last_name + post.user.first_name, post_path(post), class: 'text-decoration-none text-secondary' %></p>
            </div>
          </div>
          <div class="col-md-6">
            <p><%= post.body %></p>
          </div>
          <div class="col-md-2">
            <p class="sentiment-score">[<%= post.score %>]</p>
            <% if post.score.to_f <= -0.5 %>
              <p>ネガティブな表現が含まれている可能性があります</p>
            <% end %>
          </div>
          <div class="col-md-2">
            <%= link_to "", admin_user_path(post), class: 'text-danger fas fa-trash-alt', method: :delete, data: { confirm: '本当に削除しますか？' } %>
            <%= link_to "強制削除", admin_user_path(post), class: 'text-secondary', method: :delete, data: { confirm: '本当に削除しますか？' } %>
          </div>
        </div><hr>
      <% end %>
    <% else %>
      <p>投稿はありません</p>
    <% end %>
    <ul class="pagination justify-content-center">
      <%= paginate @posts %>
    </ul>
  </div>
