<% notifications = @notifications.where.not(send_id: current_user.id) %>
<% if @notifications.exists? %>
  <% @notifications.each do |notification| %>
    <% sender = notification.post_send %>
    <% receiver = notification.receive %>
    <div class='form-inline'>
      <div class="user_profile_image">
        <%= link_to user_path(sender) do %>
          <%= attachment_image_tag(sender, :profile_image, size: "35x35", fallback: "default_profile.jpg") %>
        <% end %>
      <%= link_to sender.full_name, user_path(sender), class: 'text-decoration-none text-info' %>さんが

      <% if notification.action == 'follow' %>
        あなたをフォローしました。
      <% elsif notification.action == 'favorite' %>
        <%= link_to "あなたの投稿", post_path(notification.post), class: 'text-decoration-none text-info' %>にいいねしました。
      <% elsif notification.action == 'post_comment' %>
        <%= link_to "あなたの投稿", post_path(notification.post), class: 'text-decoration-none text-info' %>にコメントしました。<br><%= '　　　' %>
        <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
      <% end %>
      </div>
　  </div>
  　<div class='small text-muted text-right'>
      <%=  time_ago_in_words(notification.created_at).upcase %>
    </div>
  <hr>
  <% end %>
<% else %>
  <p>通知はありません</p>
<% end %>

  <ul class="pagination justify-content-center">
    <%= paginate @notifications %>
  </ul>