<% notifications = @notifications.where.not(send_id: current_user.id) %>
<% if @notifications.exists? %>
  <% @notifications.each do |notification| %>
    <% sender = notification.post_send %>
    <% receiver = notification.receive %>
    <div class='form-inline'>
      <span>
        <%= link_to user_path(sender) do %>
          <%= attachment_image_tag(sender, :profile_image, size: "80x80", fallback: "default_profile.jpg") %>
        <% end %>
        <%= sender.last_name %>
        さんが

        <% if notification.action == 'follow' %>

        <% elsif notification.action == 'favorite' %>

        <% elsif notification.action == 'post_comment' %>

          <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
        <% end %>

      </span>
  　</div>
  　<div class='small text-muted text-right'>
      <%=  time_ago_in_words(notification.created_at).upcase %>
    </div>
  <hr>
  <% end %>
<% else %>
  <p>通知はありません</p>
<% end %>