<div class="user_profile">
  <div class="user_profile_image">
    <p>
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :profile_image, size: "150x150", fallback: "default_profile.jpg" %>
      <% end %>
    </p>
  </div>
    <p><%= user.full_name %></p>
    <p><%= user.created_at.strftime('%Y年%-m月%-d日') %>からParentingを利用しています</p><br>
    <p><%= user.introduction %></p>
    <p>
      <% if user_signed_in? %>
        <!--ログインユーザーには表示されないようにする-->
        <% if current_user != user %>
          <% if current_user.following?(user) %>
            <%= link_to "フォローを解除", user_relationships_path(user), method: :delete, class: "btn btn-warning" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(user), method: :post, class: "btn btn-success" %>
          <% end %>
        <% end %>
      <% end %>
    </p>
    <p>
      フォロー:<%= link_to user.followings.count, user_followings_path(user) %>
      フォロワー:<%= link_to user.followers.count, user_followers_path(user) %>
    </p>
    <p>
    <p><%= link_to "お気に入り投稿", favorites_path(@posts), class: 'text-decoration-none text-secondary' %></p>
      <!--ログインユーザーのみ編集ボタン設置-->
      <% if user == current_user %>
        <%= link_to "", edit_user_path(user), class: "btn btn-outline-warning w-25 fas fa-user-edit" %>
      <% end %>
    </p>


  </div>
