<div class="user_profile">
  <div class="user_profile_image">
    <p><%= attachment_image_tag user, :profile_image, size: "150x150", fallback: "default_profile.jpeg" %></p>
  </div>
    <p>
      <% if current_user != user %>
        <% if current_user.following?(user) %>
          <%= link_to "フォローを解除", user_relationships_path(user), method: :delete, class: "btn btn-warning" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(user), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </p>
    <p><%= user.last_name %><%= user.first_name %></p>
    <p><%= user.introduction %></p>
    <p>
      フォロー:<%= link_to user.followings.count %>
      フォロワー:<%= link_to user.followers.count %>
    </p>
    <p>
      <% if user == current_user %>
        <%= link_to "edit", edit_user_path(user) %>
      <% end %>
    </p>


</div>
