<div class="user_profile">
  <div class="user_profile_image">
    <p>
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :profile_image, size: "150x150", fallback: "default_profile.jpg" %>
      <% end %>
    </p>
  </div>
    <p><%= user.full_name %></p>
    <p><%= user.created_at.strftime('%Y年%-m月%-d日') %>からParentingを利用しています</p><br>
    <p><%= user.introduction %></p>

    <p><%= link_to "お気に入り投稿", favorites_path(@posts), class: 'text-decoration-none text-secondary' %></p>
    <p>
      <!--ログインユーザーのみ編集ボタン設置-->
      <% if user == current_user %>
        <%= link_to "", edit_user_path(user), class: "btn btn-outline-warning w-25 fas fa-user-edit" %>
      <% end %>
    </p>
    <p>
      <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
        <%= link_to 'chatを始める', chat_path(user.id), class: "ml-3" %>
      <% end %>
    </p>



  </div>
